@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
  --font-family: 'Raleway', sans-serif;
  --main-color1: #BAAB68;
  --main-color2: #6D213C;

}
@media (min-width: 768px) {
  .trans-1 {
    transition: box-shadow 0.15s ease-in-out;
  }

  .trans-1:hover {
    box-shadow: 7px 7px var(--main-color1);
    transition: box-shadow 0.15s ease-in-out;
  }

  .trans-2 {
    transition: box-shadow 0.15s ease-in-out;
  }

  .trans-2:hover {
    box-shadow: 7px 7px var(--main-color2);
    transition: box-shadow 0.15s ease-in-out;
  }
}

.trans-sm-1:hover {
  box-shadow: 4px 4px var(--main-color1);
}

.trans-sm-2:hover {
  box-shadow: 4px 4px var(--main-color2); ;
}

@media (min-width: 576px) {
  .footer-class {
    text-align: right;
  }
}

@media (max-width: 992px) {
  .cont-second {
    padding-top: 4em;
  }
}

.dark-shadow-cookies {
  box-shadow: 7px 7px var(--main-color2);
}

.active {
  font-family: var(--font-family);
  font-weight: 600;
}

.justify-text {
  text-align: justify;
}

.algin-text-right {
  text-align: right;
}

body {
  overflow-x: hidden;
  font-family: Roboto, "sans-serif";
  padding-top: 100px;
}

.cal {
  font-size: 1rem;
}

.c-1 {
  background-color: var(--main-color1);
}

.c-2 {
  background-color: var(--main-color2);
}

.f-montserrat {
  font-family: var(--font-family);
}

.f-white {
  color: white;
}

.info {
  text-align: right;
  text-decoration: none;
  padding: 0.4em;
}

h2,
h1 {
  font-family: var(--font-family);
  font-weight: 800;
}

.f-roboto {
  font-family: Roboto, "sans-serif";
  font-weight: 300;
  font-size: 1.2em;
}

.btn-main-1 {
  --bs-btn-font-weight: 600;
  --bs-btn-color: white;
  --bs-btn-bg: var(--main-color2);
  --bs-btn-border-color: none;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: var(--main-color2) ;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: var(--main-color2) ;
  --bs-btn-active-border-color: none;
  --bs-btn-font-family: var(--font-family);
}

.btn-main-2 {
  --bs-btn-font-weight: 600;
  --bs-btn-color: white;
  --bs-btn-bg: var(--main-color1);
  --bs-btn-border-color: none;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: var(--main-color1);
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: var(--main-color1);
  --bs-btn-active-border-color: none;
  --bs-btn-font-family: var(--font-family);
}