@media (max-width: 768px) {
    .cont-second{
        padding-top: 4em;
    }

}
.c-yellow {
    background-color: #ffc800;
}
.c-green{
    background-color: #00ac4e;
}
iframe {
    margin-top: 5rem;
}

.f-100 {
    font-weight: 100;
}
.f-600{
    font-weight: 600;
}
.f-montserrat {
    font-family: Montserrat, 'sans-serif';
}
.f-white{
    color: white;
    transition: text-decoration 1s ease-in-out;
}


.trans-yellow-btn{
    transition: box-shadow 0.15s ease-in-out;
}
.trans-yellow-btn:hover{
    box-shadow: 7px 7px #ffc800;
    transition: box-shadow 0.15s ease-in-out;
}

.trans-green-btn{
    transition: box-shadow 0.15s ease-in-out;
}
.trans-green-btn:hover{
    box-shadow: 7px 7px #00ac4e;
    transition: box-shadow 0.15s ease-in-out;
}

.trans-yellow{
    box-shadow: 7px 7px #ffc800;
    transition: box-shadow 0.15s ease-in-out;
}
.trans-yellow:hover{
    box-shadow: 15px 15px #ffc800;
    transition: box-shadow 0.15s ease-in-out;
}

.trans-green{
    box-shadow: 7px 7px #00ac4e;
    transition: box-shadow 0.15s ease-in-out;
}
.trans-green:hover{
    box-shadow: 15px 15px #00ac4e;
    transition: box-shadow 0.15s ease-in-out;
}

.info {
    text-align: right;
    text-decoration: none;
    padding: 0.4em;
}

h1 {
    font-weight: 600;
    font-family: Montserrat, 'sans-serif';
}

.f-roboto {
    font-family: Roboto, 'sans-serif';
    font-weight: 300;
    font-size: 1.2em;
}

.btn-main-1 {
    background-color: #00ac4e;
    border: none;
    font-family: Montserrat, 'sans-serif';
    font-weight: 600;
}
.btn-main-1:hover {
    background-color: #00ac4e;
}

.btn-main-2 {
    background-color: #ffc800;
    border: black;
    font-family: Montserrat, 'sans-serif';
    font-weight: 600;
}

.btn-main-2:hover {
    background-color: #ffc800;
}