.c-yellow {
    background-color: #ffc800;
}
.c-green{
    background-color: #00ac4e;
}
iframe {
    margin-top: 5rem;
}

.f-100 {
    font-weight: 100;
}
.f-600{
    font-weight: 600;
}
.f-montserrat {
    font-family: Montserrat, 'sans-serif';
}
.f-white{
    color: white;
}

.foobar {
    text-align: right;
}

.info {
    text-align: right;
    text-decoration: none;
    padding: 0.4em;
}

h1 {
    font-weight: 600;
    font-family: Montserrat, 'sans-serif';
}

.lead {
    font-family: Roboto, 'sans-serif';
    font-weight: 300;
}

.btn-main-1 {
    background-color: #00ac4e;
    border: none;
    font-family: Montserrat, 'sans-serif';
    font-weight: 600;
}
.btn-main-1:hover {
    background-color: #03843a;
    color: white;
}

.btn-main-2 {
    background-color: #ffc800;
    border: black;
    font-family: Montserrat, 'sans-serif';
    font-weight: 600;
}

.btn-main-2:hover {
    background-color: #e0ab03;
}